/**
 * Main stylesheet
 */

/* Globals */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   background: #d8232a;
}

.app-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Utility */

.center {
    text-align: center;
}

.fluid {
    width: 100%;
}

.hide {
    display: none;
}

/* Search Form */

.search-box-wrapper {
    color: #fff;
    font-size: 12px;

}

.search-box-wrapper span {
    position: relative;
}

.search-box-wrapper span i {
    position: absolute;
    font-size: 16px;
    left: -24px;
    line-height: 50px;
}

.search-box-wrapper form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.search-box-wrapper input {
    background: #d8232a;
    float: left;
    padding-left: 10px;
    font-size: 16px;
    width: 80%;
    height: 50px;
    color: #fff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #fff;
}

.search-box-wrapper input:focus, .search-box-wrapper button:focus {
    outline: 0;
}

.search-box-wrapper button {
    background: #fff;
    float: left;
    width: 20%;
    color: #d8232a;
    border: none;
    height: 50px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box-wrapper p {
    text-align: center;
}

.search-box-wrapper img {
    width: 70%;
}

.marvel-attribution {
    font-size: 12px;
    color: #fff;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

/* Character List */

.character-list {
    list-style-type: none;
    padding: 0;
}

.character-list-item {
    height: 170px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
}

.character-list-item p {
    margin-top: 5px;
}

.list-item-title {
    margin: 10px 0 0;
}

.list-details {
    float: left;
    width: 60%;
}

.thumbnail {
    float: left;
    width: 40%;
    padding: 10px;
    max-height: 160px;
    overflow: hidden;
}
